/* Control heading 1 fonts */
h1 {
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    color: #0bb9d0;
    /* Changed the color to "ocean" */
    margin-bottom: 10px;
    /* Add some spacing below the heading */
}

/*Padding and style for mini boxes  */
.mini-boxS {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    float: right;
    /* This makes the mini-boxes float to the right */
}

.mini-box {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    float: left;
}

.mini-boxS a {
    /* Target the 'a' tag inside the mini-boxS element */
    display: block;
    /* Make the link occupy the entire space of the mini-box */
    text-align: center;
    /* Center the text horizontally */
    text-decoration: none;
    /* Remove the default underline */
    color: #000;
    /* Set the text color */
    font-size: 16px;
    /* Adjust the font size as needed */
    font-weight: bold;
    /* Make the text bold */
    padding: 10px;
    /* Add some padding around the text */
    border-radius: 5px;
    /* Add rounded corners */
    background-color: #279d91;
    /* Set a background color */
}

.mini-boxS a:hover {
    /* Style the link on hover */
    background-color: #1c72ce;
    /* Change background color on hover */
    color: #f2e8e8;
    /* Change text color on hover */
}

/*Image scaling code  */
.mini-box img {
    max-width: 100%;
    height: auto;
}

/*Sets the color of the button  */
button {
    background-color: #1ca6d4;
    /* Green */
    border: ridge;
    color: white;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Add glow effect */
    transition: box-shadow 0.6s ease;
    /* Smooth transition for glow */
    position: relative;
    /* Needed for floating */
    bottom: 1 px;
    /* Adjust for desired floating distance */
}

/*Causes the button to hover  */
button:hover {
    box-shadow: 0px 0px 20px rgb(11, 71, 249, 0.8);
    /* Increase glow on hover */
}