html {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    color: #0bb9d0; /* Changed the color to "ocean" */
}

.mini-box {
  width: 250px; /* Set mini-box width */
  border: 1px solid #ccc; /* Add subtle border */
  margin-bottom: 20px; /* Provide spacing between boxes */
}

.mini-box a {
    display: block; /* Make the link take up the full width of its container */
    margin-top: 10px; /* Add some spacing between the title and the link */
    text-decoration: none; /* Remove the default underline from the link */
    color: #0bb9d0; /* Set the link color to match the title color */
}

.mini-box img {
  max-width: 100%;
  height: auto;
}