/* stylePort.css */
#about-me {
  text-align: center;
  margin-top: 50px; /* Add some spacing above the box */
  padding: 20px; /* Add padding inside the box */
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin-bottom: 40px; /* Add spacing below the box */
}

#awards-section {
  text-align: center;
  margin-bottom: 20px;
}
.award-box {
  background-color: #73d6f2; /* Light blue background */
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 40px;
}

.circular-border {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid #ccc;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.circular-border:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.circular-border img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.animated-image {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animated-image.show {
  opacity: 1;
  transform: translateY(0);
}

.image-text {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #555;
}

#back-to-hub {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.circular-border:first-child img {
    max-width: 100%; /* Set the maximum width to 70% of the container */
    max-height: 100%; /* Set the maximum height to 70% of the container */
}