html {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    color: #0bb9d0;
    /* Changed the color to "ocean" */
    margin-bottom: 10px;
    /* Add some spacing below the heading */
}

button {
    background-color: #4caf50;
    /* Green */
    border: ridge;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Add glow effect */
    transition: box-shadow 0.6s ease;
    /* Smooth transition for glow */
    position: relative;
    /* Needed for floating */
    bottom: 1 px;
    /* Adjust for desired floating distance */
}
#button2 {
    background-color: #0875c9; /* Replace with your desired color */
}

button:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    /* Increase glow on hover */
}

.glow-link {
    /* Existing styles */
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    /* Initial shadow */
    transition: box-shadow 0.3s ease;
    /* Add a transition for smooth effect */
}

.glow-link:hover {
    /* Existing styles */
    box-shadow: 0 0 10px 5px rgb(31, 31, 31, 0.5);
    /* Glow effect on hover */
}